__pycache__
.env
.logs
.build
*.log
all_steps.py
aries-mobile-tests/features/steps/all_steps.py
aries-mobile-tests/allure/allure-results/environment.properties
aries-mobile-tests/allure/cookiesFile
aries-mobile-tests/config.json
aries-mobile-tests/json.pretty.output
aries-mobile-tests/qrcode_test.png